---
import Layout from '../layouts/Layout.astro';
import QRCard from '../components/QRCard.astro';
---

<Layout title="QR Component">
  <main class="flex items-center justify-center min-h-screen bg-[hsl(212,45%,89%)]">
    <QRCard />
  </main>
</Layout>