---
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>QR Component</title>
	<link rel="shortcut icon" href="favicon.ico" type="\images\favicon-32x32.png">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body class="bg-[hsl(212,45%,89%)] font-[Outfit]">
    <slot />
  </body>
</html>